.host {
    background-color: #000000;
    height: 65px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
    text-align: center;
}

.host > a:hover {
    border-bottom: 1px solid red;
}

.flex {
    display: flex;
}

.flex-inside {
    margin-left: 10%;
}

.body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-left: 15%;
    margin-right: 15%;
}

.block-left {
    width: 50%;
    height: 800px;
    overflow: auto;
    float: left;
}

.block-right {
    width: 50%;
    height: 800px;
    overflow: auto;
}

.razmer {
    font-size: 12px;
}

