.host {
    background-color: #000000;
    height: 65px;
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-size: 15px;
    text-align: center;
    -webkit-user-select: none;
}

body {
    margin: 0;
}

.host > a:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}

.flex {
    display: flex;
    padding-bottom: 40px;
}

.list {
    padding-inline-start: 0;
    font-size: small;
    line-height: 2;
}

.button > a:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    font-size: 14px;
    margin-bottom: 25px;
}

tr, td {
    padding: 10px;
    padding-right: 100px;
    font-size: small;
}

.button {
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: black;
    color: white;
    text-align: center;

}

.list > li:before {
    content: "\2666";
    padding-right: 20px;
}

.list > li {
    list-style-type: none;
}

.flex-inside {
    margin-left: 10%;
}

.footer {
    display: flex;
    font-size: 12px;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgba(0, 0, 0, 0.78);
    color: white;
    font-weight: bold;
    justify-content: space-around;
}

.navigation a:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}

.body {
    font-family: Comic Sans MS, Comic Sans, cursive;
    margin-left: 15%;
    margin-right: 15%;
    min-height: calc(100vh - 80px);
}

.img {
    -webkit-user-select: none;
}

.vk img {
    padding: 7px;
    background-color: black;

}

.facebook img {
    padding: 7px;
    background-color: black;
}

.twitter img {
    padding: 7px;
    background-color: black;
}

.margin-bottom {
    margin-bottom: 7px;
}

.img a:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}

.admin {
    padding: 7px;
    background-color: black;
}

.margin-bottom2 {
    margin-bottom: 7px;
    margin-left: 15px;
}

.admin a:hover {
    border-bottom: 1px solid red;
    cursor: pointer;
}

.bold {
    font-weight: bold;
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: large;
}

.prise-list {
    font-size: x-large;
}

.current-page {
    font-size: small;
}

.subject {
    font-size: xx-large;
}

.block-left {
    width: 50%;
    height: 800px;
    overflow: auto;
    float: left;
}

.block-right {
    width: 50%;
    height: 800px;
    overflow: auto;
}

.size {
    font-size: 12px;
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight: bold;
}

.background {
    background-color: #ffefd5;
    position: relative;
}



